<div class="wrapper" id="wrapper">
  <header>
    <nav ngStickyNav stickyClass="sticky-box-shadow">
      <div class="menu-icon" (click)="clickEvent()">
        <i class="fa fa-bars fa-2s"></i>
      </div>
      <div class="logo">
        Prajwal Nayak
      </div>
      <div class="menu">
        <ul [ngClass]="status ? 'showing' : ''">
          <li [ngClass]=" hideList? 'hideList' : ''"><a pageScroll href="#wrapper">Home</a></li>
          <li [ngClass]=" hideList? 'hideList' : ''"><a pageScroll href="#projects">Projects</a></li>
          <li [ngClass]=" hideList? 'hideList' : ''"><a pageScroll href="#skils">Skills</a></li>
          <li [ngClass]=" hideList? 'hideList' : ''"><a pageScroll href="#aboutMe">About Me</a></li>
          <li [ngClass]=" hideList? 'hideList' : ''"><a pageScroll href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
<Section class="projects" id="projects">
  <div class="projectWrapper">
    <div class="projectLink">
      <a href="https://theprajwalnayak.github.io/Webapp-AxisAdvisor/" target="_blank"><img class="" src="assets/images/projects/Axis Advisor.png" /></a>
    </div>
    <div class="projectLink">
      <a href="https://theprajwalnayak.github.io/Website-Hotel-TheVillage/" target="_blank"><img class="" src="assets/images/projects/The Village.png" /></a>
    </div>
    <div class="projectLink">
      <a href="https://theprajwalnayak.github.io/Webapp-TheNayakNews/#!/" target="_blank"><img class="" src="assets/images/projects/Nayak News.png" /></a>
    </div>
  </div>
  <a class="viewMore" href="https://github.com/ThePrajwalNayak" target="_blank">View More Projects</a>
</Section>
 <Section class="skils" id="skils">
   <section class="skilsItems">
      <article id="fontend">
        <img class="skilsImage" src="assets/images/frontend.png"/>
        <h1 class="skillHeading">Front End</h1>
        <p class="skillInfo">Angularjs, Angular5, Ionic Framework, HTML5, CSS3, Bootstrap, CSS Preprocessing, Responsive Design, Protractor, Browser Developer Tools</p>
      </article>
      <article id="backend">
        <img class="skilsImage" src="assets/images/backend.png"/>
        <h1 class="skillHeading">Back End</h1>
        <p class="skillInfo">Java, Micro Services, REST API, Spring MVC, Srping Boot, ORM, Maven</p>
      </article>
      <article id="database">
        <img class="skilsImage" src="assets/images/database.png"/>
        <!--<img class="skilsImage" src="assets/images/dataBaseServerSkill.png"/>-->
        <h1 class="skillHeading">Database and Servers</h1>
        <p class="skillInfo">Oracle DB, SQL, Shell Script, Linux, Tomcat Server</p>
      </article>
      <article id="others">
        <img class="skilsImage" src="assets/images/other.png"/>
        <h1 class="skillHeading">Others</h1>
        <p class="skillInfo">Git, Jenkins, Swagger Documentation, JUnit, Karma, Protractor</p>
      </article>
   </section>
 </Section>
 <Section class="aboutMe" id="aboutMe">
    <div id="myInfoL">
           <img src="assets/images/myPhoto.jpg"/>
    </div>
    <div id="myInfoR">
     <h1>Prajwal Nayak</h1>
     <p>Hey, I'm a Full Stack Developer from Bengaluru, India.</p>
     <p>I've always been drawn to the overlap between design and development. My skills are broad: from UI design to API development, Database to Servers. </p>
       <p>I enjoy each aspect, and love building web sites & web apps from start to finish.</p>
    </div>
 </Section>
 <Section class="contact" id="contact">
   <div id="wrapper">
   <p>To Finish a Job, First Begin</p> 
   <div class="socialMedia">
     <a href="https://in.linkedin.com/in/theprajwalnayak" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://github.com/theprajwalnayak" target="_blank"  class="fa fa-github"></a>
      <a href="https://twitter.com/ThePrajwalNayak" target="_blank"  class="fa fa-twitter"></a>
      <a href="" target="_blank"  class="	fa fa-google-plus"></a>
   </div>
   </div>
 </Section>
</div>